
body{
    margin: 0;
    background-color: rgb(201, 201, 201);
    height: 100vh;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px;
    font-family: "Red Hat Display", sans-serif;
}

h1{
    font-size: 5rem;
    grid-column: span 2;
    text-align: center;
}

/* footer */

footer{
    float: right;
    margin-top: 5%;
    margin-right: 50px;
}

/* index */

.card{
    margin: 40px;
}
.card-image{
    float: left;
    border-radius: 20px;
    margin-right: 50px;
    height: 300px;
    border: solid 4px black;

}
.card-title{
    font-size: 2.2rem;;
}

.card-text{
    font-size: 1.5rem;
}

.card h2{
    margin-top: 70px;
} 

/* navbar */
.navbar{
    background-color: rgb(44, 44, 44);
    grid-column: span 2;
    font-size: 1.5rem;

}

.navbar a{
    float: left;
    color: white;
    padding: 10px 12px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: rgb(158, 158, 158);
}

.navbar a.active{
    background-color: orangered;
}

.navbar a svg{
    padding-top: -10px;
}

/* table */
table, th, td{
    border: solid 2px black;
    border-collapse: collapse;
}
th, td{
    font-size: 1.2rem;
    padding: 10px;
}

.services{
    grid-column: span 2;
}

.services-table{
    margin: 0 auto;
}
tr:hover {background-color: #ffffff88;}

/* location */

.location h2{
    text-align: center;
    font-size: 2rem;
}

.location-list, .history-list{
    display: table;
    margin: 0 auto;
}

.history h2{
    text-align: center;
    font-size: 2rem;
}

.history p{
    margin: 50px;
    text-align: center;
}

/* form */
.form-text{
    font-size: 3rem;
    grid-column: span 2;
    text-align: center;
    margin-top: -4%;
}

form{
    grid-column: span 2;
    margin: 0 auto;
    font-size: 1.2rem;
}

input, textarea {
    border: 1px solid #0a0a23;
    margin-bottom: 5%;
    width: 100%;
  }

label, input, textarea{
    display:block;
}

input[type="submit"]{
    width:103%;
}